@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
.containerHeader {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}
.containerHeaderNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 90%;
  margin: 0 auto;
}
.nav {
  display: flex;
}
.navItem {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito";
}
.text {
  font-size: 35px;
  font-weight: 800;
}
.Carousel {
  margin-top: 120px;
}
.containerIntroduce {
  padding-top: 90px;
}
.nameHotel {
  padding: 5px 5px 5px 5px;
  font-family: roboto, sans-serif;
  font-weight: 600;
  background-color: #d3d8d3;
}
.title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}
.content {
  line-height: 27px;
  font-family: roboto, sans-serif;
  font-size: 16px;
}
.service {
  position: relative;
  padding: 50px 0;
  margin-top: 80px;
}
.service::before {
  content: "";
  background: #1f1f1f;
  width: 43.5%;
  height: 700px;
  position: absolute;
  z-index: 0;
  top: 0;
}
.serviceHolder {
  position: relative;
}
.imageSection {
  float: right;
  line-height: 0;
}
.img5 {
  width: 100%;
  height: auto;
}
.contentSection {
  width: 430px;
  position: absolute;
  left: 18.75%;
  padding: 50px 65px;
  box-sizing: border-box;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  margin-top: 310px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
}
.listService {
  margin-top: 70px;
}
.listItem {
  margin-top: 20px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  line-height: 25px;
}
.gallery {
  margin-top: 750px;
  text-align: center;
  padding-bottom: 100px;
}
.galleryTitle {
  font-size: 22px;
  padding: 2px 10px;
  background-color: #d3d8d3;
  font-weight: 600;
  font-family: roboto, sans-serif;
}
.galleryContent {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
  display: block;
  margin-top: 10px;
}
.img {
  width: 400px;
  height: 430px;
  margin-top: 20px;
  object-fit: cover;
}
.footer {
  color: #000;
  line-height: 22px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  background-color: #cccaca;
}
.name {
  font-size: 24px;
  font-family: roboto, sans-serif;
}
.address {
  margin-top: 40px;
  font-family: roboto, sans-serif;
}
.icon {
  font-size: 8px;
  margin-right: 8px;
  margin-left: 8px;
}
a {
  text-decoration: none;
  color: #000;
}
.iconUser {
  position: absolute;
  margin-left: -25px;
}
.cardImg {
  width: 900px;
  height: 300px;
  object-fit: cover;
}
